

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="wrap">
        <div class="card">

            <div class="header"><i class="fi-xnsuxl-user-solid"></i><span>User Login</span></div>
            
            <div class="form-outer">
                <form class="form" action="/userprofile" method="POST">
                    <div class="form-div">
                    <input type="text" name="name" autocomplete="off" required/>
                    <label for="name" class="label">
                        <span class="label-content">Username</span>
                    </label>
                </div>
                <div class="form-div">
                    <input type="password" name="password1" autocomplete="off" required />
                    <label for="pass" class="label">
                        <span class="label-content">Password</span>
                    </label>
                </div>            
                <div class="buttons">
                    <button class = "forgot">Forgot password?</button>
                    <button class = "submit">Login</button>
                </div>
                 </form>
            </div>
        </div>
    </div>
</body>
</html>
<div>