

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="wrap">
        <div class="card">

            <div class="header"><i class="fi-xnsuxl-user-solid"></i><span>User Register</span></div>
            
            <div class="form-outer">
                <form  action="/users" class="form-d" method="POST">
                    <div class="form-div">
                        <input type="text" name ="name" autocomplete="off" required/>
                        <label for="name" class="label">
                            <span class="label-content" > Name </span>
                        </label>
                    </div>
                    <div class="form-div">
                        <input type="text" name ="email" autocomplete="off" required/>
                        <label for="email" class="label">
                            <span class="label-content">Emali</span>
                        </label>
                    </div> 
                <div class="form-div">
                    <input type="password" name="password1" autocomplete="off" required />
                    <label for="password1" class="label">
                        <span class="label-content">Enter Password</span>
                    </label>
                </div>  <div class="form-div">
                    <input type="password" name="password2" autocomplete="off" required />
                    <label for="pass" class="label">
                        <span class="label-content">Re Enter Password</span>
                    </label>
                </div>
               
            </div>
            
            <div class="buttons">
              
                <button type="submit" class = "sub">Register</button>
            </div>
        </form>
        <p> Have an account ? 
            <a href="/users/login" class btn btn-warning> login</a>
        </p>
        
        </div>
    </div>
</body>
</html>
<div>